ul#nav1 {
  position:absolute;
  top:10px;
  left: 5px;
  width:190px;
  list-style-type:none;
  margin:0;
  padding:0;
}

ul#nav2 {
  position: absolute;
  top:10px;
  left: 210px;
  list-style-type:none;
  margin:4px;
  padding:0;
}

ul#nav2 li, ul#nav1 li {
  border:none;
  background-color:#333;
  color:#fff;
  text-align:center;
}

ul#nav1 li {
  text-align:left;
  width:190px;
  margin:2px 0;
  padding:1px 5px;
}

ul#nav2 li {
  display:inline;
  border-radius: 0.5em;
  border: solid 2px black;
  box-shadow: rgba(0,0,0,0.2) 0.5em 0.5em 0.3em;
  text-align:center;
}

ul#nav2 li a {
  margin:5px 0;
  padding:10px 22px;
}

li a {
  color: #fff;
  text-decoration: none;
}

div#content {
  position:absolute;
  top:35px;
  left:210px;
}
